<style>html, #html, .html{background-image: url('<%= image_path("serene.jpg") %>')}</style>
<center><div style="width: 20vw; background-color: lightgray; opacity: 0.8; border: 10px solid lightgray; margin-top: 0px; padding-top: 0px;"><h2></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div style="margin-top: 1vh;" class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div style="margin-top: 1vh;" class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off"%>
  </div>

  <div style="margin-top: 1vh;" class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div style="margin-top: 1vh;" class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</center>
