<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <style>body{padding-top:0px !important;}</style>

    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <title>TwitTwat</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'bootstap.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'round-about', media: 'all', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONT AWESOME ICONS STYLE SHEET -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES -->
     <link href="assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" id="toggler" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= welcome_path %>">TwitTwat</a>
                <a class="navbar-brand" href="<%= logout_path %>">Logout</a>

            </div>
            <div class="to-toggle" style="display:none;" class="navbar-collapse collapse">
              <ul class="to-toggle nav navbar-nav navbar-right" style="display:none;">
                  <li class="to-toggle" style="display:none;"><a href="<%= welcome_path %>">HOME</a></li>
                  <li class="to-toggle" style="display:none;"><a href="<%= edit_users_path %>">EDIT PROFILE</a></li>
              </ul>
            </div>

        </div>
    </div>
    <script>
    $('#show-form').click(function() {
         $('#target').toggle();
         return false;
     });
      $('#toggler').click(function() {
           $('.to-toggle').toggle();
           return false;
       });
    </script>
    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Our Bloggers
                    <small>Take a look, check us out!</small>
                </h1>
                <p></p>
            </div>
        </div>
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"></h2>
            </div>
            <% @users = User.all %>
            <% @users.each do |user| %>
        <a href="<%= users_path + "/" + user.id.to_s %>">    <div class="col-lg-4 col-sm-6 text-center">
          <img src="<%= user.image_file_name %>" class="img-circle img-responsive img-center" style="height: 200px; width: 200px;" />
                <h3><%= link_to "#{user.first_name} #{user.last_name}", user %>
                  <br>  <small><%= user.title %></small>
                </h3>
                <p><%= user.bio %></p>
                <% @post = Post.where(user_id: user.id )  %>
                <% @post = @post.last %>
                <p style="font-weight: bold;"><%= @post.title %></p>
                <p style="max-height: 100px; text-align: justify; overflow: scroll;"><%= @post.body + "..."  %></p>


            </div></a>
            <% end %>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Universally Thinking 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


    <script type="text/javascript">
       if(window.location.href.substr(-2) !== "?r") {
          window.location = window.location.href + "?r";
        }
    </script>
</body>

</html>
